@page "/TimKiemDayHui"
@using qlhui.app.Data.DataAccess.Entities;
@using static QlHui.App.Data.Constant.Const;
@using QlHui.App.Data.Services;
@inject DialogService dialogService;
@inject NavigationManager navManager;
@inherits NotificationBase;
@implements IDisposable;
@inject IQlHuiService service;

@*<RadzenButton Text="Delete all data" ButtonStyle="ButtonStyle.Danger" Icon="trash" Click=@DeleteAllData />*@
<RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.H6" class="rz-p-2 rz-color-primary" Style="font-weight:bold;">Điều kiện tìm kiếm</RadzenText>
<RadzenCard>
    <RadzenStack Orientation="Orientation.Horizontal" class="rz-p-2">
        <RadzenCheckBox @bind-Value=@searchCriteria.HienThiTatCaDayHuiCanBoHomNay
                        Name="cbShowAll" TValue="bool" />
        <RadzenLabel Text="Hiển thị tất cả các dây cần bỏ hụi ngày hôm nay" Component="cbShowAll" Style="font-weight: bold;" />
    </RadzenStack>
    <RadzenRow class="rz-p-2">
        <RadzenColumn Size="4">
            <RadzenStack Orientation="Orientation.Horizontal" >
                <RadzenText>Ngày khui</RadzenText>
                <RadzenDatePicker @bind-Value=@searchCriteria.NgayKhui DateFormat=@DateTimeFormat.UIDateFormat  />
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="4">
            <RadzenStack Orientation="Orientation.Horizontal" >
                <RadzenText>Mã dây hụi</RadzenText>
                <RadzenTextBox @bind-Value=@searchCriteria.MaDayHui  />
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="4">
            <RadzenStack Orientation="Orientation.Horizontal" >
                <RadzenText>Tiền 1 C</RadzenText>
                <RadzenNumeric TValue="string" Format=@NumericFormat.MoneyFormat TextAlign="TextAlign.Right" Value="@searchCriteria.TienMotChan.GetMoneyFormat()"
                               @oninput="@(arg=>searchCriteria.TienMotChan = arg.Value.ToString().GetFloatNumber())" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenStack Orientation="Orientation.Horizontal" 
                 JustifyContent="JustifyContent.End" Wrap="FlexWrap.Wrap" class="rz-p-2">
        <RadzenButton Text="Tìm kiếm" ButtonStyle="ButtonStyle.Info" Icon="search" Click=@OnClickSearchData />
        <RadzenButton Text="Tạo mới" ButtonStyle="ButtonStyle.Primary" Icon="add" Click=@OpenCreateDialog />
    </RadzenStack>
</RadzenCard>
<RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.H6" class="rz-p-2 rz-color-primary" Style="font-weight:bold;">Danh sách kết quả</RadzenText>
<RadzenDataGrid @ref="@gridTimKiemDayHui" TItem="DayHuiDto" Data=@listSearchData AllowSorting="true" IsLoading=@isSearchLoadingShow
                    ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat"
                    Density="Density.Default" PageSize="@panigation.Take" Count="totalItems" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" LoadData="@LoadData">
        <EmptyTemplate>
            <p style="color: lightgrey; font-size: 18px; text-align: center; margin: 2rem;">@Const.EmptyTable</p>
        </EmptyTemplate>
        <Columns>
            <RadzenDataGridColumn TItem="DayHuiDto" Property="Index" Title="#" Width="10%" TextAlign="TextAlign.Center">
                <Template>
                    @(listSearchData.IndexOf(context) + 1 + panigation.Skip)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Width="160px" TItem="DayHuiDto" Property="Id" Title="Thao tác" TextAlign="TextAlign.Center">
                <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat"
                                  Icon="visibility" title="Xem chi tiết"
                                  Click=@(args => RedirectToDetailPage(data.Id)) Shade="Shade.Lighter" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Shade="Shade.Light"
                                  Icon="edit" title="Chỉnh sửa thông tin dây hụi" Visible=@(data.DaCoNguoiBoHui!=true)
                                  Click=@(args => OpenUpdateDialog(data)) />
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter"
                                  Icon="delete" title="Xóa"
                                  Click=@(args => XoaDayHui(data)) />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DayHuiDto" Property="MaDayHui" Title="Mã dây hui" Width="20%" />
            <RadzenDataGridColumn TItem="DayHuiDto" Property="NgayKhui" Title="Ngày khui" Type=typeof(DateTime?) FormatString={0:dd/MM/yyyy} TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="DayHuiDto" Property="TienThao" Title="Tiền thảo" Type=typeof(float?) FormatString={0:#,##0} TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="DayHuiDto" Property="TienMotChan" Title="Tiền 1C" Type=typeof(float?) FormatString={0:#,##0} TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="DayHuiDto" Property="TongSoChan" Title="Số phần" />
            <RadzenDataGridColumn TItem="DayHuiDto" Property="KyBo" Title="Kỳ" />
        </Columns>
    </RadzenDataGrid>
@code {

    #region Global Variables
    IList<DayHuiDto> listSearchData;
    DateTime? currentDate = DateTime.Now;
    QLDayHuiSearchCriteria searchCriteria = new();
    PanigationDto panigation = new PanigationDto();
    bool isSearchLoadingShow = false;
    int totalItems = 0;
    string pagingSummaryFormat = Const.SummaryTable;
    RadzenDataGrid<DayHuiDto> gridTimKiemDayHui;
    #endregion

    protected override void OnInitialized()
    {
        base.OnInitialized();
        dialogService.OnOpen += OpenCreateNewDialog;
        dialogService.OnClose += CloseCreateNewDialog;

    }

    void OpenCreateNewDialog(string title, Type type, Dictionary<string, object> parameters, DialogOptions options)
    {
        Console.WriteLine("Dialog opened");
    }

    void CloseCreateNewDialog(dynamic result)
    {
        Console.WriteLine($"Dialog closed");
        SearchData();
        dialogService.Dispose();
    }
    void LoadData(LoadDataArgs args)
    {
        panigation.Skip = args.Skip.Value;
        panigation.Take = args.Top.Value;
        SearchData();
    }
    void OnClickSearchData()
    {
        SearchData();

    }
    void SearchData()
    {
        try
        {
            isSearchLoadingShow = true;
            var getData = service.Search(searchCriteria, panigation);
            if (getData != null && getData.Data != null && getData.Data.Any())
            {
                totalItems = getData.TotalItem;
                listSearchData = getData.Data.ToList();
            }
            else
            {
                totalItems = 0;
                listSearchData = new List<DayHuiDto>();
            }
        }
        catch (Exception ex)
        {
            ShowErrorNotification(ex.GetError());
        }
        isSearchLoadingShow = false;
    }
    void LoadSearchData(LoadDataArgs args)
    {
        try
        {
            var getData = service.Search(searchCriteria, new PanigationDto(args.Skip.Value, args.Top.Value));
            if (getData != null && getData.Data.Any())
            {
                totalItems = getData.TotalItem;
                listSearchData = getData.Data.ToList();
            }
            else
            {
                listSearchData = new List<DayHuiDto>();
            }
        }
        catch (Exception ex)
        {
            ShowErrorNotification($"Lỗi hệ thống. {ex.Message}");
        }
    }

    async Task XoaDayHui(DayHuiDto data)
    {
        try
        {
            var confirmDelete = await dialogService.Confirm(
            "Bạn có thực sự muốn xóa không?", $"Xóa dây hụi '{data.MaDayHui}'",
            new ConfirmOptions() { OkButtonText = "Có", CancelButtonText = "Không" });
            if (confirmDelete == true)
            {
                //bool coNguoiBoHuiChua = service.DayHuiDaCoNguoiBoChua(data.Id);
                //if (coNguoiBoHuiChua)
                //{
                //    ShowWarningNotification($"Không thể xóa dây hụi '{data.MaDayHui}' vì dây hụi đã có người bỏ.");
                //    return;
                //}
                var deleteRs = service.DeleteDayHuiById(data.Id);
                if (deleteRs)
                {
                    ShowSuccessNotification($"Xóa thành công '{data.MaDayHui}'!");
                    OnClickSearchData();
                }
                else
                {
                    ShowErrorNotification("Xóa thất bại!");
                }
            }
        }
        catch (Exception ex)
        {
            ShowErrorNotification(ex.GetError());
        }
    }

    async Task OpenCreateDialog()
    {
        try
        {
            await dialogService.OpenAsync<DayHui>($"Tạo mới dây hụi",
            new Dictionary<string, object>() { },
            new DialogOptions() { Width = "70%", Height = "60%", Resizable = true, Draggable = true });
        }
        catch (Exception ex)
        {
            ShowErrorNotification(ex.GetError());
        }
    }

    async Task OpenUpdateDialog(DayHuiDto dayHui)
    {
        try
        {
            await dialogService.OpenAsync<DayHui>($"Chỉnh sửa dây hụi {dayHui.MaDayHui}",
            new Dictionary<string, object>()
                        {
                            {"dayHuiId", dayHui.Id}
                        },
            new DialogOptions() { Width = "70%", Height = "60%", Resizable = true, Draggable = true });
        }
        catch (Exception ex)
        {
            ShowErrorNotification(ex.GetError());
        }
    }

    void RedirectToDetailPage(int dayHuiId)
    {
        navManager.NavigateTo($"/ChiTietDayHui/{dayHuiId}");
    }

    public void Dispose()
    {
        // The DialogService is a singleton so it is advisable to unsubscribe.
        dialogService.OnOpen -= OpenCreateNewDialog;
        dialogService.OnClose -= CloseCreateNewDialog;
    }

    void DeleteAllData()
    {
        service.XoaData();
        SearchData();
    }
}
